<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>armour-int.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-24}</string>
    <key>spriteSize</key>
    <string>{88,95}</string>
    <key>spriteSourceSize</key>
    <string>{180,210}</string>
    <key>textureRect</key>
    <string>{{88,2},{88,95}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boots-agi.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-10,-77}</string>
    <key>spriteSize</key>
    <string>{76,29}</string>
    <key>spriteSourceSize</key>
    <string>{180,210}</string>
    <key>textureRect</key>
    <string>{{88,169},{76,29}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>helmet-str.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-4,48}</string>
    <key>spriteSize</key>
    <string>{82,68}</string>
    <key>spriteSourceSize</key>
    <string>{180,210}</string>
    <key>textureRect</key>
    <string>{{88,99},{82,68}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player-base.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{-3,-4}</string>
    <key>spriteSize</key>
    <string>{84,169}</string>
    <key>spriteSourceSize</key>
    <string>{180,210}</string>
    <key>textureRect</key>
    <string>{{2,2},{84,169}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{202,202}</string>
   <key>textureFileName</key>
   <string>equippable_atlas.webp</string>
  </dict>
 </dict>
</plist>
